
.forgot_password{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f9a6f1;
    .main_box{

        .back_arrow{
            height: 30px;
            margin-right: 210px;
            cursor: pointer;
        }
        .title{
            margin-bottom: 20px;
        }

        background-color: white;
        display: flex;
        flex-direction: column;
        padding: 30px;
        align-items: center;
        border-radius: 10px;
        box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
        input{
            width: 250px;
        padding: 10px 20px;
        margin-bottom: 20px;
        outline: none;
        border: 1px solid #d91fc6;
        border-radius: 50px;

    }
    
    .send_btn{
        padding: 10px 20px;
        background-color: #d91fc6;
        color: white;
        width: 250px;
        outline: none;
        border: none;
        cursor: pointer;
        font-size: 15px;
        border-radius: 50px;
        margin-bottom: 10px;
    }
}
}